.main {
  width: 100%;
  margin-bottom: 5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 12rem;
}

.hero {
  display: flex;
  gap: 30px;
}

@media only screen and (max-width: 930px) {
  .hero {
    flex-direction: column;
  }
}
